In [1]:
import mysql.connector

In [2]:
mydb=mysql.connector.connect(
 host="localhost",user="root",password="amansaxena123")
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002924D5A7DF0>

In [6]:
mycursor=mydb.cursor()
mycursor.execute("show databases")
for x in mycursor:
    print(x)

('amandatabase',)
('amandatabase1',)
('information_schema',)
('mysql',)
('performance_schema',)
('product',)
('sakila',)
('sys',)
('world',)

In [4]:
mycursor.execute("create database Product")

In [5]:
mydb=mysql.connector.connect(
 host="localhost",user="root",password="amansaxena123",database="Product")

### Ans 1

In [7]:
mycursor=mydb.cursor()
mycursor.execute("create table customers(customerNumber INTEGER(6),customerName VARCHAR(10),contactLastName VARCHAR(10),contactFirstName VARCHAR(10),Phone INTEGER(10),AddressLine1 VARCHAR(15),AddressLine2 VARCHAR(15),city VARCHAR(10),state VARCHAR(10), postalcode INTEGER(7),Country VARCHAR(10), salesRepEmployeeNumber INTEGER(10),creditLimit INTEGER(10))")

### Ans 2

In [10]:
mycursor=mydb.cursor()
mycursor.execute("create table orders(orderNumber INTEGER(6),orderDate INTEGER(10),requiredDate INTEGER(10),shippedDate INTEGER(10),status VARCHAR(10),comments VARCHAR(10),customerNumber INTEGER(10))")

### Ans 3

In [ ]:
mycursor.execute("SELECT * FROM orders")
muresult=mycursor.fetchall()
for x in myresult:
    print(x)

### Ans 4

#### Writing only queries

In [ ]:
"SELECT comments FROM orders"

### Ans 5

In [ ]:
"SELECT date(orderDate), COUNT(orderNumber) AS num_orders FROM orders GROUP BY date(orderDate)"

### Ans 6

In [ ]:
"SELECT employeeNumber, LastName, FirstName FROM employee"

### Ans 7

In [ ]:
"SELECT orderNumber , customerName FROM orders"

### Ans 8

In [ ]:
"SELECT customerName,salesRepEmployeeNumber FROM customers"

### Ans 10

In [ ]:
"SELECT productName, MSRP, productDescription FROM product"